body {
  margin: 0;
  overflow: scroll;
  background-image: url(background.gif);
  background-size: cover;
}

div.evolgar {
 margin: 10px; 
  background-image: url(evolgar.png);
    background-size: cover;
  width: 400px;
  height: 250px;
  background-position: center;
}

p {
margin: 10px;
  
}
div.cot {
 margin: 10px; 
  background-image: url(cot.png);
    background-size: cover;
  width: 400px;
  height: 250px;
  background-position: center;
}
