body {
 background: #2d2c3e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  text-align: center;
}

img {
  margin: 10px; 
  width: 400px;
  height: 250px;
  border-radius: 25px;
 object-fit: cover;
}

p {
 margin: 10px; 
 font-family: 'Pacifico', cursive;
}

h1 {
 margin: 10px;
 font-family: 'Pacifico', cursive;
}

h2 {
 margin: 10px;
 font-family: 'Pacifico', cursive;
}

h3 {
 margin: 10px;
 font-family: 'Pacifico', cursive;
}
